# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
*.env

# React / Node
node_modules/
frontend/node_modules/

# React build files
frontend/build/
frontend/dist/

# Vite
frontend/.vite/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python logs
*.log